.header-container {
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    min-height: 15vh;
    background-color: grey;
}

.toolkit-image {
    height:100px;
    width:auto
}

.header-text {
    font-size:34px;
    font-weight: bold;
}
