.details-container {
    padding:10px;
    width:100%;
    border: 2px solid grey;
    border-radius:20px;
    margin-bottom:50px;
}
.details {
  padding:20px;
}

.add-icon {
  height:40px;
  width:auto;
  cursor: pointer;
}

.personal-details-header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom: 1px solid black;
    margin:5px;
}

.personal-details-content {
    display:flex;
    flex-direction:column;
    margin:0;
    gap:5px;
    max-width:80%
}

.personal-details-content p {
  margin: 0; /* Add some vertical spacing between items *//* Ensure text within each <p> is centered if needed */
}

.personal-details-container {
  display:flex;
  justify-content:space-between;
}

.edit-button-container {
  display:flex;
  align-items:center;
  justify-content:center;
}

/*all the main container setting is done */

.form-group {
    margin-bottom: 15px;
  }
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button:disabled {
    background-color: #ccc;
  }
  button {
    padding: 10px 20px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height:30px;
    text-align:center;
  }